header {
  height: 100px;
  background: rgb(219, 219, 219);
}

.content {
  height: 100%;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-family: Titillium Web;
    font-weight: 400;
  }
}

.logo {
  height: 100%;
  margin-right: 15px;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}