<main>
  <div class="container">
    <div class="content">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Rover</mat-label>
          <mat-select (selectionChange)="onRoverSelected($event.value)">
            <mat-option *ngFor="let rover of rovers" [value]="rover">
              {{ rover.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Camera</mat-label>
          <mat-select (selectionChange)="onSelectedCamera($event.value)" [value]="(selectedCamera$ | async)">
            <mat-option
              *ngFor="let camera of (selectedRover$ | async)?.cameras"
              [value]="camera"
            >
              {{ camera.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Sol (Mars day)</mat-label>
          <input
            type="number"
            matInput
            placeholder="Sol(Mars day)"
            (ngModelChange)="onSelectedSol($event)"
            value=""
            [formControl]="solFormControl"
          />
          <mat-error *ngIf="solFormControl"
            >The number must be greater than 0</mat-error
          >
        </mat-form-field>

        <button
          *ngIf="(photos$ | async)?.length === 0 && (selectedRover$ | async) != null && (selectedCamera$ | async) != null && (selectedSol$ | async) != null"
          class="btn-primary"
          (click)="getMarsPhotos()"
        >
          Show
        </button>
      </form>

      <div class="results">
        <p
          *ngIf="!(showMainLoading$ | async) && (photos$ | async)?.length === 0"
          class="content-text"
        >
          Let's start exploring NASA`s expeditions to Mars. <br />
          Please select values on the right panel to show mars photos.
      </p>

        <mat-progress-spinner
          *ngIf="showMainLoading$ | async"
          class="example-margin"
          [mode]="mode"
          [diameter]="60"
        >
        </mat-progress-spinner>

        <div *ngIf="(photos$ | async)?.length !== 0" class="photos">
          <img
            *ngFor="let item of photos$ | async"
            [src]="item.imgSrc"
            [alt]="item.earthDate"
          />
          <div class="load-more-loading">
            <mat-progress-spinner
              *ngIf="showLoadMoreLoading$ | async"
              class="example-margin"
              [mode]="mode"
              [diameter]="60"
            >
            </mat-progress-spinner>
          </div>
        </div>

        <button
          *ngIf="showLoadMore$ | async"
          class="btn-primary"
          (click)="loadMore()"
        >
          Load More
        </button>
      </div>
    </div>
  </div>
</main>
