<form>
  <label for="rover">Choose a Rover: </label>
  <select name="rover" id="">
    <option value="curiosity">Curiosity</option>
    <option value="opportunity">Opportunity</option>
    <option value="spirit">Spirit</option>
  </select>
  <br>

  <label for="camera">Choose a rover camera: </label>
  <select name="camera" id="">
    <option value="FHAZ"> Front Hazard Avoidance Camera</option>
    <option value="RHAZ">Rear Hazard Avoidance Camera</option>
    <option value="MAST">Mast Camera</option>
    <option value="CHEMCAM">Chemistry and Camera Complex</option>
    <option value="MAHLI">Mars Hand Lens Imager</option>
    <option value="MARDI">Mars Descent Imager</option>
    <option value="NAVCAM">Navigation Camera</option>
    <option value="PANCAM">Panoramic Camera</option>
    <option value="MINITES">Miniature Thermal Emission Spectrometer (Mini-TES)</option>
  </select>
  <br>

  <label for="sol">Sol (Mars day): </label>
  <input type="number" id="sol" name="sol">
  <br>

  <div class="example-button-row">
    <button mat-stroked-button color="primary">Let's go!</button>
  </div>


</form>
