<mat-form-field appearance="fill">
  <mat-label>Rover</mat-label>
  <mat-select [(ngModel)]="selectedRover" (ngModelChange)="onRoverSelected($event)">
    <mat-option *ngFor="let rover of rovers" [value]="rover">{{rover.title}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Camera</mat-label>
  <mat-select [(ngModel)]="selectedCamera" [disabled]="selectedRover == null">
    <mat-option *ngFor="let camera of selectedRover?.cameras" [value]="camera">{{camera.title}}</mat-option>
  </mat-select>
</mat-form-field>
<br>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Sol (Mars day)</mat-label>
    <input type="number" matInput placeholder="Sol(Mars day)" value="0" [formControl]="solFormControl">
  </mat-form-field>


</form>

<!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label> Sol(Mars day)</mat-label>
    <input type="number" [formControl]="solFormControl">
    <mat-error *ngIf="!solFormControl.hasError('required')">
      Please enter a valid Sol(Mars day)
    </mat-error>
  </mat-form-field> -->


<div class="example-button-row">
  <button mat-stroked-button color="primary">Let's go!</button>
</div>
