<div class="select-fields">
  <div class="select-rover">
    <mat-form-field appearance="fill">
      <mat-label>Rover</mat-label>
      <mat-select (selectionChange)="onRoverSelected($event.value)">
        <mat-option *ngFor="let rover of rovers" [value]="rover">
          {{ rover.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="select-camera">
    <mat-form-field appearance="fill">
      <mat-label>Camera</mat-label>
      <mat-select (selectionChange)="onSelectedCamera($event.value)">
        <mat-option *ngFor="let camera of (selectedRover$ | async)?.cameras" [value]="camera">
          {{ camera.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="select-sol">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Sol (Mars day)</mat-label>
        <input type="number" matInput placeholder="Sol(Mars day)" (ngModelChange)="onSelectedSol($event)" value=""
          [formControl]="solFormControl" />
        <mat-error *ngIf="solFormControl">The selected day must be greater than 0</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div class="example-button-row">
    <button mat-stroked-button color="primary" (click)="getMarsPhotos()">
      Let's go!
    </button>
  </div>
</div>
