
.content{
  display: contents;
  flex-wrap: wrap;
}
.cards{
  width: 25%;
}

.example-card {
  width: 25%;

}

.example-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 490px;
}
